body {
    background-color: black;
    color: white;
    font-family: Titillium Web;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
 
  p {
   font-size: 2rem;
  }

 label {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
  }

  input::placeholder {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
  }
  
  /*---header---*/
  #logo {
     float: left;
    color: white;
     font-size: 280%;
     margin-left: 1.875rem;
  }
  
  #menu {
     font-size: 100%;
     font-weight: 600;
     letter-spacing: 0.125rem;
     float: right;
  }
  
  #menu,
  #logo {
     line-height: 4.6875rem;
  }
  
  #menu li {
     float: left;
     list-style-type: none;
     margin-right: 1.875rem;
  }
  
  #menu a {
     text-decoration: none;
     color: inherit;
  }
  
  #menu a:hover {
     border-bottom: 0.0625rem solid var(--darkgrey);
  }
  
  header {
    background-color: red;
    color: white;
  }

  /*---navbar---*/

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.nav-link {
  padding: 0.2rem 1rem;
  margin: 0.3rem;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  display: inline-block;
}

.nav-link:hover {
  border-color: white;
  display: inline-block;
}

.active {
  font-weight: bold;
}

.page-nav-item a {
  text-decoration: none;
  color: white;
}

.page-nav-item {
  margin-left: 28px;
  margin-right: 28px;
  border-bottom: 1px solid transparent;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.page-nav-item:hover {
  border-color: white;
}

.toggle-right {
  position: absolute;
  right: 0;
  margin-right: 20px; 
}

  /*---page-style---*/ 
  #page-title {
    text-align: center;
    padding-bottom: 10px;
    margin: 30px;
    padding: 5px;
  }
  
  .page-title {
   background-color: gray;
   display: inline-block;
   border-radius: 5px;
   padding: 5px;
  }
  
  /*--intro-box---*/
  
  #intro-box {
    text-align: center;
    padding: 20px;
    background-color: gray;
    border-radius: 15px;
    margin: 20px auto;
  }
  
  #intro-box h1 {
    color: white;
    margin-bottom: 20px;
  }
  
   /*---button---*/
 
 button {
  display: block;
  color: black;
  margin: 20px auto;
  padding: 10px 20px;
  font-family: Titillium Web;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 0 0 4px black;
}

/*---mute-button---*/

#mute-button {
  position: fixed;
  top: 100px;
  right: 100px;
  z-index: 100;
}

#mute-button:hover {
 background-color: red;
}

/*---tyre-animation---*/

.tyre-sphere-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.tyre-sphere {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.tyre-sphere img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: rotate-tyre 10s linear infinite;
}

@keyframes rotate-tyre {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 /*---difficulty---*/
 
 .hidden {
  display: none; 
}

.quiz-box {
  justify-content: center;
  margin: 80px 20px;
  align-self: center;
  text-align: center;
  background-color: gray;
  padding: 20px;
  max-width: 80rem;
  width: calc(100% - 40px);
  border-radius: 15px;
 }

 #difficulty {
  width: fit-content;
  padding: 20px;
  margin-top: 80px; 
}

#difficulty-text {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.difficulty-option {
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}

.difficulty-option img {
 display: block; 
 margin: 0 auto;  
}

img {
 width: 308px;
 height: 308px;
 border-radius: 10px;
 padding: 10px;
}

#difficulty-inner {
 display: flex;
 justify-content: space-around; 
 flex-direction: row;
}

#difficulty-level {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  background-color: gray;
  border-radius: 10px;
  text-transform: uppercase;
  width: fit-content;
}
 
  /*---answers---*/
  
  .correct {
   background-color: green; 
 }
 
 .incorrect {
   background-color: red; 
 }

 .answer-button, .generic-button {
  width: 300px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

#answer-message {
  height: 40px;
}

  /*---progress---*/ 
 #progressBar {
   background-color: black;
   border-radius: 5px;
 }
 
 #progressBarFull {
   height: 30px;
   width: 0%;
   background-color: red;
   border-radius: 5px;
 }
 
 /*---question/answer display---*/
 
 #question-display {
   display: flex;
   justify-content: space-between;
 }
 
 .score-text, .question-counter {
   font-size: 2rem;
 }
 
 /*---modal---*/ 
 
 .modal-content {
   color: black;
   text-align: center;
   }
 
 /*---starting-lights---*/ 
 
 #container {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: auto;
 }
 
 .lights-rectangle {
   background-color: grey;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
   margin-top: 250px;
   border-radius: 25px;
 }
 
 .column {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100px;
   height: 100%;
 }
 
 .lights {
   background-color: black;
   border-radius: 50%;
   width: 60px;
   height: 60px;
   margin: 5px 0;
 }
 
 .message {
   text-align: center;
   color: white;
   font-size: 2rem;
   background-color: gray;
   border-radius: 10px;
   margin-top: 10px;
 }

 /*---leaderboard---*/

.leaderboard {
  background-color: gray;
  border-radius: 10px;
  margin: 50px 90px;
  width: 60%;
  padding: 20px; 
text-align: center;
}

#leaderboard-table {
  width: 80%;
  border-collapse: separate; 
  border-spacing: 10px; 
  margin: 50px 90px;
  text-align: center;
}

#leaderboard-table th,
#leaderboard-table td {
  padding: 10px;
color: black;
  background-color: #fff; 
  border-radius: 5px; 
}

#leaderboard-table th {
  font-weight: bold; 
  background-color: #ccc;
}

/*---timer---*/
#timer {
  margin-top: 20px;
  font-size: 2rem;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
}

@media (max-width: 1200px) {
  #difficulty-inner {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .quiz-box {
    margin: 20px;
    padding: 10px;
    width: calc(100% - 20px);
  }
.answer-button {
  width: 600px;
    height: 120px; 
    font-size: 32px; 
}
}
